.container {
  padding: 50px 0;
  min-height: calc(100vh - 419px);
}

h2 {
  text-align: center;
  font-size: 32px;
  line-height: 35px;
  margin-bottom: 50px;
}

.cart-goods-wrapper {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
}

table {
  width: 100%;
}

th,
td {
  padding: 5px;
  text-align: center;
}

.name {
  width: 20%;
}

.description {
  width: 25%;
}

.image,
.price,
.amount,
.product-total,
.delivery {
  width: 10%;
}

.remove {
  width: 5%;
}

.name a {
  transition: all 0.25s linear;
}

.name a:hover {
  color: #224e31;
}

.image img {
  max-width: auto;
  max-height: 75px;
}

.amount {
  user-select: none;
}

.less,
.more {
  width: 20px;
  height: 20px;
  font-weight: 700;
  background-color: #a1beab;
  cursor: pointer;
  transition: all 0.25s linear;
}

.less:hover,
.more:hover {
  background-color: #8da595;
}

.current-amount {
  margin: 0 5px;
  width: 30px;
}

.less,
.more,
.current-amount {
  display: inline-block;
  font-size: 18px;
  line-height: 20px;
}

.remove span {
  display: inline-block;
  width: 20px;
  height: 22px;
  background: url(../../../assets/trash.svg) no-repeat center;
  background-size: 20px 22px;
  cursor: pointer;
  transition: all 0.25s linear;
}

.remove span:hover {
  background: url(../../../assets/trash-hover.svg) no-repeat center;
  background-size: 20px 22px;
}

tfoot td {
  text-align: right;
  font-weight: 700;
}

.no-favorites {
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}

form {
  width: 50%;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input:not([type="submit"]) {
  margin-bottom: 20px;
  height: 30px;
}


textarea {
  resize: none;
  height: 115px;
  margin-bottom: 20px;
}

input,
textarea {
  padding: 5px;
  outline: none;
  border: 1px solid #000000;
  transition: all 0.25s linear;
}

input[type="submit"] {
  margin: 0 auto;
  width: 50%;
  height: 50px;
  border: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 3px;
  box-shadow: 0 0 5px #8da595;
  background-color: #a1beab;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #8da595;
}

.wrong-input {
  color: #971c1c;
  border-color: #971c1c;
  background-color: rgba(155, 101, 101, 0.5);
}

.right-input {
  color: #126112;
  border-color: #126112;
  background-color: rgba(108, 138, 108, 0.5);
}

.order-sent {
  margin-top: 20px;
  color: #126112;
  text-shadow: 0 0 5px #224e31;
  text-align: center;
}

@media screen and (max-width: 760px) {
  .description {
    display: none;
  }
}

@media screen and (max-width: 670px) {
  table {
    font-size: 14px;
    line-height: 16px;
    word-wrap: break-word;
    word-break: break-word;
  }

  .image {
    display: none;
  }
}

