<div class="wrapper">
  <div class="container">
    <div class="contacts">
      <ul>
        <li class="a1">
          <a href="tel:+375293021021">+375 29 302 10 21</a>
        </li>
        <li class="life">
          <a href="tel:+375255021021">+375 25 502 10 21</a>
        </li>
        <li class="home">
          <a href="tel:+375173021021">+375 17 302 10 21</a>
        </li>
        <li class="viber">
          <a href="https://chats.viber.com/21vek.by" target="_blank">Viber</a>
        </li>
        <li class="telegram">
          <a href="https://t.me/e21vekbot">Telegram</a>
        </li>
        <li class="email">
          <a href="mailto:21@21vek.by">Почта</a>
        </li>
      </ul>
    </div>
    <div class="socials">
      <ul>
        <li>
          <a href="https://vk.com/21vek_by" target="_blank">
            <img src="../../../assets/vk.svg" alt="vk">
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/21vek.by/" target="_blank">
            <img src="../../../assets/facebook.svg" alt="facebook">
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/21vek.by/" target="_blank">
            <img src="../../../assets/instagram.svg" alt="instagram">
          </a>
        </li>
        <li>
          <a href="https://ok.ru/group/51731111018650" target="_blank">
            <img src="../../../assets/odnoklassniki.svg" alt="ok">
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
