<div class="wrapper" (click)="closeDropdowns()">
  <div class="container">
    <div class="info-block">
      <div class="current-place">
        <p #currentCity (click)="toggleBiggestCities($event)">
          Выберите свой город
        </p>
        <div
          class="biggest-cities invisible"
          #biggestCities
          (click)="chooseCity($event)"
        >
          <p>Брест</p>
          <p>Витебск</p>
          <p>Гомель</p>
          <p>Гродно</p>
          <p>Минск</p>
          <p>Могилёв</p>
        </div>
      </div>
      <div class="contacts">
        <a href="https://chats.viber.com/21vek.by" target="_blank" class="viber"
          >Viber</a
        >
        <a href="tel:+375293021021" class="a1">+375 29 302 10 21</a>
        <div class="more-of-contacts">
          <p (click)="toggleRestOfContacts($event)">Ещё</p>
          <div class="rest-of-contacts invisible" #restOfContacts>
            <a href="tel:+375255021021" class="life">+375 25 502 10 21</a>
            <a href="tel:+375173021021" class="home">+375 17 302 10 21</a>
            <a href="https://t.me/e21vekbot" class="telegram">Telegram</a>
            <a href="mailto:21@21vek.by" class="email">Почта</a>
          </div>
        </div>
      </div>
      <p class="work-hours">
        Наш контакт-центр работает&nbsp;для&nbsp;Вас
        с&nbsp;8.00&nbsp;до&nbsp;21.00
      </p>
    </div>
    <div class="nav-block">
      <a routerLink="">
        <img src="../../../assets/logo.svg" alt="Логотип" class="logo" />
      </a>
      <div class="favorite-and-cart">
        <a routerLink="favorite" routerLinkActive="active-link"
          >Избранное<span *ngIf="(favoriteGoods$ | async)?.length">
            ({{ (favoriteGoods$ | async)?.length }})</span
          ></a
        >
        <a routerLink="cart" routerLinkActive="active-link"
          >Корзина<span *ngIf="(goodsInCart$ | async)?.length">
            ({{ (goodsInCart$ | async)?.length }})</span
          ></a
        >
      </div>
      <div class="log-btn">
        <button *ngIf="!currentUser; else logoutBlock" (click)="login()">
          Войти
        </button>
        <ng-template #logoutBlock>
          <button (click)="logout()">Выйти</button>
        </ng-template>
      </div>
    </div>
    <div class="categories-nav">
      <ul>
        <li *ngFor="let category of categories$ | async">
          <a
            [routerLink]="['category', category.id]"
            routerLinkActive="active-link"
            id="{{ category.id }}"
            (click)="getCategoryID($event)"
          >
            {{ category.name }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="login-form invisible" #loginForm (click)="closeLoginForm($event)">
  <form>
    <label for="name">Имя</label>
    <input
      type="text"
      name="name"
      id="name"
      placeholder="Введите Ваше имя"
      minlength="3"
      maxlength="50"
      (blur)="validateName($event)"
      #name
    />
    <label for="password">Пароль</label>
    <input
      type="password"
      name="password"
      id="password"
      placeholder="Введите пароль"
      minlength="3"
      maxlength="10"
      (blur)="validatePassword($event)"
      #password
    />
    <input type="submit" value="Войти" class="confirm-login" (click)="confirmLogin($event)">
  </form>
</div>
