<img
  src="{{ product.imageUrls[0] ?? '../../../../../assets/no-img.jpeg' }}"
  alt="{{ product.name }}"
  class="product-img"
/>
<div class="brief-info">
  <h4 class="price">{{ product.price }} руб.</h4>
  <div class="rating" #rating></div>
  <p #inStock>В наличии</p>
</div>
<a
  [routerLink]="['/product', product.id]"
  class="product-name"
  (click)="setCurrentProductID()"
>
  {{ product.name }}
</a>
<div class="save-btns">
  <button
    class="to-favorite-btn"
    (click)="addToFavorite()"
    *ngIf="!product.isFavorite; else removeFromFavoriteList"
  >
    В избранное
  </button>
  <ng-template #removeFromFavoriteList>
    <button class="to-favorite-btn" (click)="removeFromFavorite()">
      Удалить из избранного
    </button>
  </ng-template>
  <button
    class="to-cart-btn"
    (click)="addToCart()"
    *ngIf="!product.isInCart; else removeFromCartList"
  >
    В корзину
  </button>
  <ng-template #removeFromCartList>
    <button class="to-cart-btn" (click)="removeFromCart()">
      Удалить из корзины
    </button>
  </ng-template>
</div>
