<div class="container">
  <div class="breadcrumbs">
    <a routerLink="">Главная</a>
    <span> > </span>
    <a [routerLink]="['/category', product.category]" #category></a>
    <span> > </span>
    <p #subCategory></p>
  </div>
  <div class="product-wrapper">
    <h2>{{ product.name }}</h2>
    <div class="images">
      <div class="all-images">
        <div
          class="all-images-wrapper"
          *ngFor="let url of product.imageUrls; let i = index"
          (click)="showImageBigger($event)"
        >
          <img src="{{ url }}" alt="Фото товара {{ i + 1 }}" />
        </div>
      </div>
      <div class="main-image">
        <img
          src="../../../assets/popular-product.png"
          alt="Хит продаж"
          class="popular-product"
          *ngIf="product.rating >= 4"
        />
        <img
          src="{{ product.imageUrls[0] }}"
          class="big-img"
          alt="Product image"
          #mainImage
        />
      </div>
    </div>
    <div class="save-btns">
      <button
        class="to-favorite-btn"
        (click)="addToFavorite()"
        *ngIf="!product.isFavorite; else removeFromFavoriteList"
      >
        В избранное
      </button>
      <ng-template #removeFromFavoriteList>
        <button class="to-favorite-btn" (click)="removeFromFavorite()">
          Удалить из избранного
        </button>
      </ng-template>
      <button
        class="to-cart-btn"
        (click)="addToCart()"
        *ngIf="!product.isInCart; else removeFromCartList"
      >
        В корзину
      </button>
      <ng-template #removeFromCartList>
        <button class="to-cart-btn" (click)="removeFromCart()">
          Удалить из корзины
        </button>
      </ng-template>
    </div>
    <div class="info">
      <p class="description">{{ product.description }}</p>
      <div class="characteristics">
        <h3>{{ product.price }} руб.</h3>
        <div class="rating" #rating></div>
        <p #inStock>В наличии</p>
      </div>
    </div>
  </div>
</div>
