.container {
  padding: 50px 0;
  min-height: calc(100vh - 419px);
}

.breadcrumbs {
  display: flex;
  gap: 5px;
  font-size: 16px;
  line-height: 20px;
}

.breadcrumbs a {
  border-bottom: 1px solid transparent;
  transition: all 0.25s linear;
}

.breadcrumbs a:hover {
  border-color: #000000;
}
