<div class="container">
  <div class="advantages">
    <h2>Возможности и преимущества</h2>
    <ul>
      <li>
        <h3>Гарантия качества</h3>
        <p>Мы продаём только сертифицированный товар с гарантией сервисных центров, чек прилагается.</p>
      </li>
      <li>
        <h3>Честные цены</h3>
        <p>Все цены, указанные на сайте, действительны и актуальны — данные обновляются автоматически.</p>
      </li>
      <li>
        <h3>Доставка по всей Беларуси</h3>
        <p>Мы доставляем заказы в Минск, Брест, Витебск, Гомель, Гродно, Могилёв и в любую другую точку Беларуси!</p>
      </li>
      <li>
        <h3>Надежный сервис</h3>
        <p>Мы предлагаем услуги по сборке, установке, настройке, гарантийному и послегарантийному обслуживанию товаров.</p>
      </li>
    </ul>
  </div>
</div>
